[packages]
click = "*"
docker = {extras = ["docker"],version = "*"}
tqdm = "*"
pandas = ">=1.0.0"
lm-zoo = "~=1.2"
pyparsing = "*"
spython = {extras = ["singularity"],version = "*"}

[dev-packages]
pytest = "*"
pipenv-setup = "*"
twine = "*"
jsonschema = "*"
sphinx = "*"
sphinx-jsonschema = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
coverage = "*"
